.input-group{
    padding-left:3em;
    padding-right:3em;
}

#button-addon2{
    background-color:#FF5A49;
    color: #fff;
    border-color: #FF5A49;
}

#button-addon2:hover{
    background-color:#fff;
    color: #FF5A49;
    border-color: #FF5A49;
}