.card{
    width: 12rem;
    margin-top:3em;
    margin-left: 2em;

    -webkit-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}

.card:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
}

.card-header{
    color:#fff;
    background-color: #FF5A49!important;
    font-weight: 600;
}

.padre{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3em;
}

.inputPokemon{
    margin-top:2em;
}

.has-search .form-control {
   padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    text-align: center;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    pointer-events: none;
    color: #FF5A49;
}
